#save-entry-button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #3db8e3;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  #save-entry-button:hover {
    background-color: #00a8d8;
  }
  
  #save-entry-button:focus {
    outline: none;
  }
  
  #save-entry-button:active {
    background-color: #0088b4;
  }
  