:root {
    --background-color: #646464;
    --content-background-color: #afafaf;
    --content-border-color: rgb(192, 192, 192);
    --entry-color: #4b4b4b;
    --placeholder-color: #000000;
    --settings-background-color: #333333;
    --settings-text-color: #ffffff;
    --settings-question-background-color: #444444;
  }
  
  //plot twist this is actually LIGHT MODE