:root {
    --background-color: #3f3f3f;
    --content-background-color: #494949;
    --content-border-color: #444444;
    --entry-color: #4b4b4b;
    --placeholder-color: #000000;
    --settings-background-color: #414141;
    --settings-text-color: #ffffff;
    --settings-question-background-color: #444444;
  }
  