:root {
    --background-color: #686868;
    --content-background-color: #424242;
    --content-border-color: #444444;
    --entry-color: #f5f5f5;
    --placeholder-color: #808080;
    --settings-background-color: #414141;
    --settings-text-color: #f5f5f5;
    --settings-question-background-color: #444444;
  }
  