body {
  top: 5px;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  position: relative;
}

#entries-panel {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: calc(100vh - 100px);
  background: var(--content-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: left 0.3s ease-in-out;
  overflow: auto; 
  padding: 10px 50px 10px 10px;
  z-index: 99989;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
}

#entries-panel.show-panel {
  left: 0;
}

#entries-panel-content-wrapper {
  height: 100%;
  flex-grow: 1; /* add this, it will take all available space */
  overflow: auto; /* it will have its own scroll if the content is too long */
}

.entries-list {
  list-style-type: none;
  padding: 0;
}

.entries-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--entry-color);
  border-radius: 5px;
  color: var(--entry-text-color);
}

#entries-list {
  height: 100%; 
  padding-top: 50px;
}

#entries-panel-button {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 24px;
  z-index: 10000;
  cursor: pointer;
  color: var(--entry-text-color);
}

.new-entry-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  background-color: var(--add-button-background-color);
  color: var(--add-button-icon-color);
}

#entries-delete-area {
  position: absolute;
  bottom: 20px;
  width: 220px;
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color: red;
  border: 2px dashed var(--entry-text-color);
  color: var(--entry-text-color);
  box-sizing: border-box;
}
