body,
html {
  height: 100%;
  margin: 0;
  padding: 20px;
  background-color: #333333;
}

#new-entry-button {
  position: absolute;
  top: 0.1%;
  left: 10%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background-color: rgb(128, 0, 128);
  border: 2px solid #651e8f;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

#new-entry-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) scale(1.05);
}

#new-entry-button:focus {
  outline: none;
}

#new-entry-button.square {
  border-radius: 0;
}

#new-entry-button.square:hover {
  transform: translateX(-50%) scale(1.05) rotate(2deg);
}

#diary-entry {
  font-family: "Inter", sans-serif;
  font-weight: 180;
  font-size: 17px;
  color: #f5f5f5;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  box-sizing: border-box;
  border: 4px solid #000000;
  resize: none;
  background-color: #3b3b3b;
  overflow: hidden; /* Hide scrollbars */
}

.content {
  position: relative;
}

#summary-container {
  height: 30px;
  background-color: #f5f5f5;
  padding: 5px;
  margin: 0 auto 10px;
  max-width: 500px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* Hide sidebar by default */
  width: 210px;
  height: 100%;
  background-color: #450547;
  padding: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0; /* Show sidebar when open class is added */
}

textarea {
  resize: both;
  height: 100px;
  overflow: auto;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #272020;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open span {
  transform: rotate(45deg); /* Rotate top and bottom lines */
}

.hamburger.open span:nth-child(2) {
  opacity: 0; /* Hide middle line */
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg); /* Rotate remaining line */
}

.tab {
  margin-bottom: 10px;
}

.tab.active {
  font-weight: bold;
}

.diary-entry {
  position: absolute;
  width: 300px;
  height: 150px;
  padding: 10px;
  resize: none;
  border: 2px solid #ccc;
  background-color: #333;
  color: #fff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.diary-entry .diary-entry-textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  font-family: 'Inter', sans-serif;
  resize: none;
  border: none;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.color-picker-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  z-index: 1;
}

.color-picker {
  display: none;
}

.color-preview {
  position: absolute;
  right: 35px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
