:root {
  --background-color: #747474; /* light gray for the outskirts */
  --content-background-color: #363636; /* white for the textarea background */
  --content-border-color: #030303;
  --entry-color: #000000;
  --entry-text-color: #000000;
  --placeholder-color: #000000;
  --settings-background-color: #383737;
  --settings-text-color: #000000;
  --settings-question-background-color: #000000;
}

  //plot twist this is actually DARK MODE