:root {
    --background-color: #1F1F1E;
    --content-background-color: #e7e7e7;
    --content-border-color: #000000;
    --entry-color: #252525;
    --placeholder-color: #ececec;
    --settings-background-color: #1f1f1e;
    --settings-text-color: #f5f5f5;
    --settings-question-background-color: #252525;
  }
  