:root {
    --background-color: #3b3b3b;
    --content-background-color: #e7e7e7;
    --content-border-color: #000000;
    --entry-color: #252525;
    --placeholder-color: #aaaaaa;
    --settings-background-color: #2b2b2b;
    --settings-text-color: #b1b1b1;
    --settings-question-background-color: #252525;
  }
  