:root {
  --background-color: #ffffff; /* light gray for the outskirts */
  --content-background-color: #ffffff; /* white for the textarea background */
  --content-border-color: #030303;
  --entry-color: #000000;
  --entry-text-color: #ffffff
  --placeholder-color: #000000;
  --settings-background-color: #eeeeee;
  --settings-text-color: #000000;
  --settings-question-background-color: #000000;
}

