#questions-settings-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

#questions-settings-icon {
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10000;
  transition: opacity 0.3s linear;
}

#questions-settings-panel {
  position: fixed;
  border: 4px solid var(--content-border-color);
  border-radius: 10px;
  top: 40px;
  right: -250px;
  width: 250px;
  height: 80.5vh;
  background: var(--settings-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  overflow: auto; 
  padding: 10px;
  color: var(--settings-text-color);
  border-radius: 20px;
  z-index: 9999;
  pointer-events: none;  /* Add this line */
}

#questions-settings-panel.open {
  right: 0;
  pointer-events: auto;
}

#questions-settings-icon.spin {
  animation: spin 0.3s linear forwards;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#predefined-question-list,
#user-question-list {
  list-style-type: none;
  padding: 0;
  background-color: var(--settings-question-background-color);
}

#predefined-question-list li,
#user-question-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--settings-question-background-color);
  border-radius: 5px;
  cursor: move;
  color: var(--settings-text-color);
}

textarea {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#predefined-question-list, #user-question-list {
  overflow: auto;
  scrollbar-width: none;
}

#predefined-question-list::-webkit-scrollbar, #user-question-list::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .side-panel {
    width: 100%;
    height: 100%;
    left: 0;
  }

  .hide-panel {
    left: -100%;
  }
}

#questions-settings-panel.open {
  right: 0;
  pointer-events: auto;
}
