#custom-settings-container {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  #custom-settings-icon {
    font-size: 1.5em; /* Adjust this value as needed */
    cursor: pointer;
    z-index: 1000;
  }
  
  #custom-settings-panel {
    position: fixed;
    top: 40px; /* slightly below the icon */
    right: 10px; /* same as the container */
    width: 250px; /* Adjust width as needed */
    height: 80vh; /* Adjust height as needed */
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    border: 2px black;
  }
  