#custom-settings-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

#custom-settings-icon {
  font-size: 1.5em; /* Adjust this value as needed */
  cursor: pointer;
  z-index: 1000;
}

#custom-settings-panel {
  position: fixed;
  top: 40px;
  right: -250px;
  width: 250px;
  height: 80.5vh;
  background: #333; /* This is a dark gray color */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  overflow: auto; 
  padding: 10px; /* Added padding so the entries aren't bouncing into the sides */
  color: #fff; /* Change the text color to white for visibility against dark background */
  border-radius: 20px;
}

#custom-settings-panel.open {
  right: 0;
  pointer-events: auto; /* enable interactions when shown */
}

  #custom-settings-icon.spin {
    animation: spin 0.3s linear forwards;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  #sortable-question-list {
    list-style-type: none;
    padding: 0;
    background-color: rgb(65, 65, 65);
  }
  
  #sortable-question-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #555; /* This is a slightly lighter gray for the questions */
    border-radius: 5px;
    cursor: move;
    color: #fff; /* Change the text color to white for visibility against dark background */
  }
  
  .sortable-list {
    max-height: 45vh;
    overflow-y: auto;
    list-style: none; /* This will remove the bullet points */
    padding-left: 0;
  }
  
  .sortable-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #555;
    border-radius: 5px;
    cursor: move;
    color: #fff;
  }
  
  #sortable-fixed-list, #sortable-editable-list {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
  }

  #sortable-fixed-list::-webkit-scrollbar, #sortable-editable-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }

  