.side-panel {
  position: fixed;
  top: 0;
  left: -250px;
  width: 300px;
  height: 100%;
  background-color: #1B1B1A;
  padding: 20px;
  box-sizing: border-box;
  border: 4px solid #000000;
  transition: left 0.3s ease;
  z-index: 9999;
}

.show-panel {
  left: 0;
}

.panel-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #250d1d;
}

.entry-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0; /* Add top margin of 40px */
}

.entry-item {
  cursor: pointer;
  padding: 10px;
  margin-top: 40px; /* Adjust the value as needed */
  margin-bottom: 3px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  height: 80px; /* Set a fixed height for all entry items */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.entry-visible {
  visibility: visible;
  opacity: 1;
}

.entry-item:hover {
  background-color: #000000;
}

.entry-item.selected {
  background-color: #000000;
}

.entry-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: #320f30;
}

.entry-content {
  font-size: 14px;
  color: #270505;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s;
  border: 2px solid transparent; /* Add transparent border initially */
}

.toggle-button:hover {
  background-color: #dcdcdc;
  transform: scale(1.2); /* Make the button slightly bigger on hover */
}

.active {
  background-color: #ff0000;
}

.new-entry-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.3s ease, transform 0.3s;
  border: 2px solid transparent;

  /* Center the content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}


.new-entry-button:hover {
  background-color: #dcdcdc;
  transform: scale(1.2);
}

.entry-item {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  flex-grow: 1; /* Make the entry items expand to fill the available space */
}

.entry-item:hover {
  background-color: #bcbcbc;
}

.entry-item.selected {
  background-color: #c0c0c0;
}


