body.dark-mode {
  --main-text-color: #000000;
  --background-color: #303030;
  --content-background-color: #292929;
  --content-border-color: rgb(95, 95, 95);
  --entry-color: #383838;
  --entry-text-color: #ffffff;
  --placeholder-color: #ffffff;
  --settings-background-color: #333333;
  --settings-text-color: #ffffff;
  --settings-question-background-color: #444444;
  --icon-color: #B3B3B3;  /* slightly brighter gray */
  --textarea-background-color: #444444;  /* dark gray for dark mode */
  //adding new entries button
  --add-button-background-color: #ffffff; /* white */
  --add-button-icon-color: #ffffff; /* black */
}
